.azeret-mono-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
p {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
.center {
  text-align: center;
}
.learn-more-btn {
  width: 170px;
  height: 47px;
  padding: 12px 20px;
  font-family: azeret-mono, "Times New Roman", Times, serif;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.banner-container {
  margin-top: 36px;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  width: 1440px;
  height: 600px;
  background-image: url(assets/Hero-bg.png);
}
.banner-content {
  text-align: center;
}
.banner-btn {
  background-color: #0d1321;
  color: #ffffff;
  width: 244px;
  height: 65px;
  border-radius: 8px;
  padding: 21px 24px;
}

.why-web-dev {
  /* width: 1140px;
  height: 1393px; */
  margin: 0 auto;
  padding: 80px 97px;
}
.sec-title-description {
  width: 852px;
  height: 113px;
  margin: 80px 47px 48px 47px;
}
.section-title,
.section-decription {
  text-align: center;
}

.first-layer {
  display: flex;
  justify-content: center;
  gap: 90px;
  width: 946px;
  height: 336px;
  padding: 48px;
}
/* .first-layer-content { 
  width: 475px;
  height: 219px;
} */
.second-layer {
  display: flex;
  justify-content: center;
  width: 946px;
  height: 336px;
  padding: 48px;
  gap: 32px;
}

.second-layer-content {
  width: 477px;
  height: 219px;
}
.third-layer {
  display: flex;
  justify-content: center;
  gap: 90px;
  width: 946px;
  height: 336px;
  padding: 48px;
}

.third-layer-content {
  width: 477px;
  height: 219px;
}

.inspiration {
  display: flex;
  align-items: center;
}
.current-contents {
  display: flex;
  justify-content: center;
}
.next-target-content {
  width: 1140px;
  height: 140px;
  border: 0.1px solid #0d1321;
  border-radius: 16px;
  display: flex;
  gap: 24px;
  padding: 55px 40px;
  margin-bottom: 20px;
}
.footer-main {
  width: 1140px;
  height: 310px;
  border: 0.1px solid #0d1321;
  border-radius: 16px;
  background-image: url(assets/handshake.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
input {
  width: 548px;
  height: 50px;
  border-radius: 5px;
}
.footer-btn {
  width: 120px;
  height: 50px;
  border-radius: 5px;
  font-weight: 500;
}
.last-section {
  display: flex;
  justify-content: space-between;
}
